/* Map legend format */
.legend {
  line-height: 20px;
  color: #555;
}
.legend i {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 15px;
    opacity: 0.7;
}

#mapLegend{
      position: absolute;
      bottom: 20px;
      background-color: white;
      opacity: 0.9;
      padding: 10px;
}


/* Hide legend when screen is small*/
@media only screen and (max-width: 770px) {
  #mapLegend {
      display: none;
  }
  .year {
    transform: rotate(-45deg);
    height: 10px;
  }
}
@media only screen and (max-width: 415px) {
  #mapLegend {
      display: none;
  }
  .year {
    display: none;
  }
}


#map{
  background-color: white;
  padding: 10px;
}



/* This rule causes the label to vertically align properly */
label {
  vertical-align:middle;
  display:inline-block;
  margin-bottom:1em;
}
.flexContainer {
  display: flex;
  justify-content: space-between;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #8EBAD9; /* D3 blue background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #8EBAD9; /* D3 blue background */
  cursor: pointer; /* Cursor on hover */
}
